*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #EEE;
	font-family: 'Roboto', sans-serif;

}
.continer{
	max-width: 1000px;
	background-color:#028062;
	margin: 0 auto;
	padding: 20px;
}
.img{
	width: 100px;
	height: 120px;
	border: 3px solid white;
	border-radius: 50%;
	float: left;
}
.header-vio{
	float: left;
	padding: 30px;

}
h1,h2,h3,h4,h6{
	color: #11999e;
}
.header-contract{
	float: right;
	padding: 30px;
}
.header-contract a{
	text-decoration: none;
	color: #11999e;
	font-weight: bold;
}
.header-contract a:hover{
	text-decoration: underline;
	color: tomato;

}
.clear-div{
	clear: both;
}
hr{
	margin: 20px auto;
	border: solid white; 2px;
	width: 100%;
	border-bottom: none;
}
/*------------- personal section start-------*/

#personal section{

}
.content{
	margin: 30px;

}
.left-div{
	width: 30%;
	float: left;


}
.right-div{
	width: 70%;
	float: right;

}
.common-hr{
	border: solid white; 1px;
	border-bottom: none;
	width: 100%;
	margin: 20px auto;
	/*------------- personal section end-------*/


	/*------------- Education section start-------*/


}
.Education-left{
	float: left;
	width: 45%;

}
.Education-right{
	float: right;
	width: 45%;

}
/*------------- Education section end-------*/
.batton-continer{
	background-color: black;
	text-align: center;
	padding: 10px;
}

.batton-continer a{
	color:white ;
	text-decoration: none;
	margin: 20px;

}
.batton-continer p{
	color:white ;
	margin-top: 10px;

}